<html>
    <head>
        <link rel="stylesheet" href="static/BRDDetails/index.css" />
        <link rel="stylesheet" href="static/BRDDetails/release/side-comments.css" />
        <link rel="stylesheet" href="static/BRDDetails/release/themes/default-theme.css" />
        <link rel="stylesheet" href="static/BRDDetails/support/css/basics.css" />
    </head>
    <body>
	<header>
		<h1>BRD Detail Information</h1>
	</header>

	<section id="cd-timeline" class="cd-container">
        <div id="commentable-container" class="container commentable-container">
		<div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">	
                <h2>Description</h2>
                <p data-section-id="002" class="commentable-section">{{ section1 }}</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>Rate</h2>
                <p data-section-id="001" class="commentable-section">{{ section2 }}</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>Profitability</h2>
				<p data-section-id="003" class="commentable-section">{{ section3 }}</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>ETA</h2>
                <p data-section-id="004" class="commentable-section">{{ section4 }}</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>Title of section 5</h2>
				<p data-section-id="005" class="commentable-section">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>Final Section</h2>
				<p data-section-id="006" class="commentable-section">
                This is the content of the last section</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
        </div>
	</section> <!-- cd-timeline -->
    <footer>
        <input type="button" class="next-button" value="Execute BRD >>" onclick="hello()" />
        <input type="button" class="previous-button" value="<< Go Back" onclick="https://www.baidu.com/" />
    </footer>
    <script src="static/BRDDetails/support/js/jquery.js"></script>
    <script src="static/BRDDetails/release/side-comments.js"></script>
    <script src="static/BRDDetails/support/test_data.js"></script>
    <script src="static/common.js"></script>
    <script>
    $(document).ready(function(){
      var SideComments = require('side-comments');
      var currentUser = {
        "id": 2,
        "avatarUrl": "static/img/user.png",
        "authorUrl": "www.amazon.com",
        "name": "nanzhen"
      };
      window.sideComments = new SideComments('#commentable-container', currentUser, nothing);
      window.sideComments.on('commentPosted', function( comment ) {
        $.ajax({
            url: '/comments',
            type: 'GET',
            data: comment,
            success: function( comment ) {
            }
        });
      comment.id = parseInt(Math.random() * (100000 - 1) + 1);
      sideComments.insertComment(comment);
      });
      window.sideComments.on('commentDeleted', function( comment ) {
        sideComments.removeComment(comment.sectionId, comment.id);
      });
    });
  </script>
</body>
</html>
