<html>
    <head>
        <link rel="stylesheet" href="static/BRDDetails/index.css" />
        <link rel="stylesheet" href="static/BRDDetails/release/side-comments.css" />
        <link rel="stylesheet" href="static/BRDDetails/release/themes/default-theme.css" />
        <link rel="stylesheet" href="static/BRDDetails/support/css/basics.css" />
    </head>
    <body>
	<header class="topBanner">
		<div class="topBanner-title">
			<h1>BRD Detail Information</h1>
		</div>
		<div class="topBanner-approvers">
			<ul id="approverList">
				<li class="listTitle">Approvers</li>
				<li class="approver"> <span class="name">Zheng, Nan</span> &nbsp; (<span class="status">pending</span>) </li>
				<li class="approver"> <span class="name">Zhao, Wenfeng</span> &nbsp; (<span class="status-approved">approved</span>) </li>
			</ul>
		</div>
		<div class=clearFloat"></div>
	</header>

	<section id="cd-timeline" class="cd-container">
        <div id="commentable-container" class="container commentable-container">
		<div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">	
                <h2>Description</h2>
                <p data-section-id="002" class="commentable-section">{{ section1 }}</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>Rate</h2>
				<table id="rate_table" border="1">
					<tr>
						{% for title in rateTitle %}
						<th>{{title}}</th>
						{% endfor %}
					</tr>

					{% for raterow in section2 %}
					<tr>
						{% for rateitem in raterow %}
						<td>{{rateitem}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>Profitability</h2>
				<p data-section-id="003" class="commentable-section">Incremental GMS: {{ section3 }}</p>
				<p data-section-id="003" class="commentable-section">Incremental Fee Revenue: {{ section3 }}</p>
				<p data-section-id="003" class="commentable-section">Incremental Operating Profit: {{ section3 }}</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>ETA</h2>
                <p data-section-id="004" class="commentable-section">{{ section7 }}</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>Title of section 5</h2>
				<table id="eta_table" border="1">
					{% for trrow in section4 %}
					<tr>
						{% for tditem in trrow %}
						<td>{{tditem}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>Final Section</h2>
				<p data-section-id="006" class="commentable-section">
                This is the content of the last section</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
        </div>
	</section> <!-- cd-timeline -->
    <footer>
        <input type="button" class="next-button" value="Execute BRD >>" onclick="onBRDPageNextButtonClicked()" />
        <input type="button" class="previous-button" value="<< Go Back" onclick="onBRDPagePreviousButtonClicked()" />
    </footer>
    <script src="static/BRDDetails/support/js/jquery.js"></script>
    <script src="static/BRDDetails/release/side-comments.js"></script>
    <script src="static/BRDDetails/support/test_data.js"></script>
    <script src="static/common.js"></script>
    <script>
    $(document).ready(function(){
      var SideComments = require('side-comments');
      var currentUser = {
          "id": 1,
          "avatarUrl": "static/img/user.png",
          "authorUrl": "www.amazon.com",
          "name": "PM"
        };
      window.sideComments = new SideComments('#commentable-container', currentUser, oneComment);
      window.sideComments.on('commentPosted', function( comment ) {
        $.ajax({
            url: '/comments',
            type: 'GET',
            data: comment,
            success: function( comment ) {
            }
        });
      sideComments.insertComment(comment);
      });
      window.sideComments.on('commentDeleted', function( comment ) {
        sideComments.removeComment(comment.sectionId, comment.id);
      });
    });
  </script>
</body>
</html>
